---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint-docker
        args:
          - --disable=MD013
  - repo: local
    hooks:
      - id: psscriptanalyzer-check
        name: check PowerShell code using PSScriptAnalyzer
        language: script
        entry: PSScriptAnalyzer-wrapper.ps1 -Check
        args:
          - -ExcludeRule
          - PSUseBOMForUnicodeEncodedFile
          - -Fix
        types:
          - file
        files: \.ps[dm]?1$
      - id: psscriptanalyzer-format
        name: format PowerShell code using PSScriptAnalyzer
        language: script
        entry: PSScriptAnalyzer-wrapper.ps1 -Format
        types:
          - file
        files: \.ps[dm]?1$
